.containerquemprincipal {
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.containerquemprimeiro {
    text-align: center;
    width: 60%;
    padding-top: 1.2vh;
}

.containerquemprimeiro h1 {
    color: #004884;
    margin-bottom: 0.2vh;
}


.containerquemprimeiro h2 {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 3.8vh;
}

.containerquemprimeiro h3 {
    margin-top: 1.5vh;
    color: black;
    margin-bottom: 3vh;
    font-size: 1.2rem;
    font-weight: 400;
}


.containerquemprimeiro span {
    color: #004884;
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    .containerquemprincipal {
        padding: 0;
        margin: 0;
    }

    .containerquemprimeiro h1 {
        font-size: 1.8rem;
    }

    .containerquemprimeiro {
        text-align: center;
        width: auto;
        padding-left: 4vw;
        padding-right: 4vw;
        font-weight: 300;
    }

    .containerquemsegundo {
        padding: 0;
        margin: 0;
        width: auto;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .containerquemsegundo h1 {
        margin-top: 1vh;
        font-size: 1.8rem;
    }

    .containerquemsegundo p {
        font-weight: 300;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .containerquemprincipal {
        padding: 0;
        margin: 0;
    }

    .containerquemprimeiro h1 {
        font-size: 1.8rem;
    }

    .containerquemprimeiro {
        text-align: center;
        width: auto;
        padding-left: 4vw;
        padding-right: 4vw;
        font-weight: 300;
    }

    .containerquemsegundo {
        padding: 0;
        margin: 0;
        width: auto;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .containerquemsegundo h1 {
        margin-top: 1vh;
        font-size: 1.8rem;
    }

    .containerquemsegundo p {
        font-weight: 300;
    }

}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .containerquemprincipal {
        padding: 0;
        margin: 0;
    }

    .containerquemprimeiro h1 {
        font-size: 1.8rem;
    }

    .containerquemprimeiro {
        text-align: center;
        width: auto;
        padding-left: 4vw;
        padding-right: 4vw;
        font-weight: 300;
    }

    .containerquemsegundo {
        padding: 0;
        margin: 0;
        width: auto;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .containerquemsegundo h1 {
        margin-top: 1vh;
        font-size: 1.8rem;
    }

    .containerquemsegundo p {
        font-weight: 300;
    }
}