.divservicospage {
    display: flex;
    justify-content: center;
    margin-top: 50px
}

.divleft {
    text-align: left;
    margin-left: 6vw;
    flex-basis: 40%;
}

.divleft h1 {
    color: #004884;
    margin-bottom: 1.4rem;
    text-align: center;
    font-size: 28.8px;
}

.divleft h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: black;
    font-weight: 400;
}

.divright {
    margin-left: 120px;
  ;
    flex-basis: 60%;
    display: flex;
}

.divright img {
    width: 80%;
}


.divleft span {
    font-weight: bold;
    color: #004884;
}

@media only screen and (min-width: 1221px) and (max-width: 1800px) {
.divright {
    display: flex;
}

.divright img {
    margin-top: 8vh;
    width: 90%;
    height: 80%;
}
}

@media only screen and (min-width: 781px) and (max-width: 1220px) {
    .divleft {
        flex-basis: 90%;
        margin-bottom: 60px;
    }
    
    
        .divright {
        display: none;
    }
    }

@media only screen and (min-width: 481px) and (max-width: 780px) {
    .divleft {
        flex-basis: 90%;
        margin-bottom: 60px;
    }


.divleft h1 {
    text-align: left;
}
    
        .divright {
        display: none;
    }
    }

@media only screen and (min-width: 0px) and (max-width: 480px) {
.divleft {
    flex-basis: 90%;
    margin-bottom: 60px;
}

.divleft h1 {
    text-align: left;
}

    .divright {
    display: none;
}
}