.containerOrcamento {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
    background-color:  #004884;
}

.containerOrcamento h1 {
    color: white;
    margin-bottom: 0.8vh;
    font-size: 1.8rem;
    margin-top: 3vh;
    margin-bottom: 2vh;
}



@media only screen and (min-width: 481px) and (max-width: 768px) {
    .containerOrcamento {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 1vh;
        margin-left: 0vw;
        margin-right: 5vw;
    }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .containerOrcamento {
        width: auto;
        margin-top: 3vh;
        margin-bottom: 1vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    .containerOrcamento h1 {
        color: #004884;
        margin-bottom: 0.8vh;
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 3vh;
        margin-bottom: 2vh;
    }
}