.imagem1 {
    width: 50%;
    height: 50%;
    margin-top: -17%;
    padding-left: 45%;
}

.texto {
    max-width: 25%;
    font-size: 3rem;
    padding-top: 8%;
    padding-left: 17%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.texto span {
    color: #004884;
}

.button1 {
    background-image: linear-gradient(to right, #31032f 0%, #db5da3 100%);
    color: #e1e1e1;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin-left: 16%;
    position: absolute;
    top: 54rem;
    min-width: 40rem;
}

.button2 {
    background-image: linear-gradient(to right, #372465 0%, #009dc5 100%);
    color: #e1e1e1;
    max-width: 1000px;
    padding: 1rem 6.4rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin-left: 16%;
    position: absolute;
    top: 58rem;
    min-width: 40rem;
}

@media only screen and (min-width: 641px) and (max-width: 1180px) {
    .imagem1 {
        display: none;
        width: 0;
    }

    .containertextohome {
        box-sizing: border-box;
        text-align: center;
        inline-size: 150rem; 
        margin-left: -18rem;
        margin-top: -30rem;
    }

    .texto {
        font-size: 30px;
    }

    .texto span {
        color: #004884;
    }
    
    .button1 {
        padding: 1rem 1rem;
        top: 20rem;
        font-size: 18px;
        max-width: 44rem;
        min-width: 44rem;
        left: -8%;
    }
    .button2 {
        padding: 1rem 1rem;
        top: 23.8rem;
        font-size: 18px;
        max-width: 44rem;
        min-width: 44rem;
        left: -8%;
    }
  }

@media only screen and (min-width: 0px) and (max-width: 640px) {
    .imagem1 {
        display: none;
        width: 0;
    }
    .containertextohome {
        box-sizing: border-box;
        text-align: center;
        margin-left: -12rem;
        inline-size: 80rem;
        margin-bottom: -4rem;
    }

    .texto {
        font-size: 18px;
        padding-top: 0rem;
    }    
    .texto span {
        color: #004884;
    }
    
    .button1 {
        padding: 0.7rem 0.7rem;
        top: 10rem;
        font-size: 14px;
        max-width: 16rem;
        min-width: 16rem;
        left: 0rem;
    }
    .button2 {
        padding: 0.7rem 0.7rem;
        top: 13rem;
        font-size: 14px;
        max-width: 16rem;
        min-width: 16rem;
        left: 0rem;
    }
  }