.navbar {
    box-sizing: border-box;
    height: 18vh;
    display: flex;
    align-items: center;
}

.navbar img {
    width: 18vw;
    margin-left: 15vw;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: 12vw;
}

.navbar ul li {
    padding-left: 1.2rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #372465;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar ul li a:hover {
    text-decoration: none;
    color: #f73e1e;
}

.invisivel {
    display: none;
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        margin-right:4vw;
        margin-bottom: -3vh;
    }

    .navbar ul {
        display: none;
    }

    .navbar img {
        width: 25vh;
        margin-left: 5vw;
    }

    .invisivel {
        font-size: 2rem;
        margin-top: 2.8vh;
        margin-right: 1vw;
        display: flex;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        margin-right:4vw;
        margin-bottom: -3vh;
    }

    .navbar ul {
        display: none;
    }

    .navbar img {
        width: 25vh;
        margin-left: 5vw;
    }

    .invisivel {
        font-size: 2rem;
        margin-top: 2.8vh;
        margin-right: 1vw;
        display: flex;
    }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        margin-right:4vw;
        margin-bottom: -3vh;
    }

    .navbar ul {
        display: none;
    }

    .navbar img {
        width: 25vh;
        margin-left: 5vw;
    }

    .invisivel {
        font-size: 2rem;
        margin-top: 2.8vh;
        margin-right: 1vw;
        display: flex;
    }
}