.containerparceiros {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
}

.textoParceiro {
    color: #004884;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .containerparceiros {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-around;
        padding-left: 1rem;
    }

    .textoParceiro {
        margin-bottom: 0px;
        align-items: center;
    }

    img {
        width: 90%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .containerparceiros {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .textoParceiro {
        margin-bottom: 0px;
    }

    img {
        width: 70%;
    }

    .containersanta {
        padding-left: 20%;
    }

    .containerfeas {
        padding-left: 20%;
        padding-bottom: 10%;
    }

    .containercapao {
        padding-left: 20%;
        padding-bottom: 5%;
    }

    .containeramil {
        padding-left: 20%;
        padding-bottom: 5%;
    }
}