.prenavbar {
    background-color: #372465;
    color: white;
    height: 2.4rem;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25rem;
}

.prenavbaricons {
    padding-top: 0.3rem;
}

.prenavbaricons1 {
    font-size: 150%;
    padding-top: 0.3rem;
}

.prenavbar p {
    padding-left: 0.2rem;
    padding-right: 1rem;
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    .prenavbar {
        width: auto;
        text-align: center;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
    }

    .prenavbaricons {
        padding-top: 0.3rem;

    }

    .prenavbaricons1 {
        padding-top: 0.3rem;
    }

    .prenavbar p {
        padding-left: 0.2rem;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .prenavbar {
        width: auto;
        text-align: center;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
    }

    .prenavbaricons {
        padding-top: 0.3rem;

    }

    .prenavbaricons1 {
        padding-top: 0.3rem;
    }

    .prenavbar p {
        padding-left: 0.2rem;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .prenavbar {
        display: none;
    }
}