.prenavbar {
    background-color: #372465;
    color: white;
    height: 36px;
}

.prenavbaricons {
    display: flex;
    flex-direction: row;
    padding-left: 310px;
    padding-top: 12px;
}

.prenavbaricons1 {
    margin-top: -35px;
    padding-left: 500px;
    font-size: 20px;
}

.prenavbar p {
    margin-top: -18px;
    padding-right: 20px;
    padding-left: 336px;
}

.prenavbar .p1 {
    margin-top: -25px;
    padding-right: 20px;
    padding-left: 530px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .prenavbar {
        display: none;
    }
  }
