.servicos {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding-left: 10vw;
}

.divservicos {
    width: 30vw;
    font-size: 1.4rem;
    margin-top: -5vh;
}

.servicos h1 {
    color: #004884;
    text-align: center;
    padding-bottom: 1vh;
    font-size: 2.4rem;
}

.servicos span {
    color: #004884;
}

.servicos img {
    width: 36%;
    margin-top: -10vh;
    margin-right: 2vw;
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    .servicos img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-top: 8vh;
        margin-bottom: 2vh;
        margin-right: 9vw;
    }

.divservicos {
    width: 30vw;
    font-size: 1.4rem;
    margin-top: 5vh;
}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .servicos img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-right: 9vw;
    }

    .divservicos {
        display: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .servicos img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-right: 9vw;
    }

    .divservicos {
        display: none;
    }
}