.servicos {
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 60px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.divservicos {
    width: 40rem;
    font-weight: 600;
    padding-left: 10%;
    font-size: 2rem;
}

.servicos h1 {
    text-align: center;
    color: #004884;
}

.servicos h3 {
    color: black;
}

span {
    color: #004884;
}

.servicoimg {
    width: 36%;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .servicoimg {
        width: 100%;
        margin-bottom: -10%;
        margin-top: 10%;
        align-items: center;
    }

    .divservicos {
        display: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767) {
    .servicoimg {
        width: 140%;
        margin-bottom: -30%;
        margin-top: 6rem;
    }

    .divservicos {
        display: none;
    }
}
